/*
	Custom css para sobreescribir bootsrap
*/

footer a{
	color:#fff;
	font-size:1.25em;
}



main {
	min-height: 90vh;
}

a {
	color: white;
}

td img {
	width:100px;
	height:100px;
}

td a{ color: #0099ff;}

#avatar {
	width:25px;
	height:25px;
}